Q1

In [ ]:
def convert (seconds):
  seconds=seconds %(24 *3600)
  hour=seconds //3600
  seconds %=3600
  minutes =seconds//60
  seconds%=60
  return hour ,minutes,seconds
n=(2740)
print(convert(n))

(0, 45, 40)

Q2

In [ ]:
def fun(n1,n2,n3,n4=0):
  if n4==0:
    sum=n1+n2+n3
    avg=sum/3
    return avg
  else:
    sum=n1+n2+n4+n2
    avg=sum/4
    return avg
fun(5,10,15)

10.0

Q3

In [ ]:
k=1
for i in range(0,6):
  for j in range(1,i+1):
    print("0"if k%2==0 else "1",end=" ")
    k+=1
  print()

1
0 1
0 1 0
1 0 1 0
1 0 1 0 1

Q5

In [ ]:
class Maths:
  def __init__(self,dataA,dataB):
    self.dataA=dataA
    self.dataB=dataB
   
  def add(self):
    print(self.dataA+self.dataB)
  def div(self):
    print(self.dataA//self.dataB)
  def sub(self):
    print(self.dataA-self.dataB)
  def mul(self):
    print(self.dataA*self.dataB)
m=Maths(10,5)
m.add()
m.div()
m.sub()
m.mul()

15

Q7.Convert Paise in Rupees &
Paises
Ex: 350 is 3 Rupees 50 Paise
3.50 print Rupees: 3 Paise: 50

In [ ]:

paise= int(input("enter the paise"))
rs=paise/100
print(rs,"rupess",paise,"")

enter the paise350
3.5 rupess 350

Q8.

In [ ]:
for i in range(0,6):
  for j in range(i):
    print(i+1,end="")
  print()

2
33
444
5555
66666

Q9

In [ ]:
string=input("enter the string")
strings=string[1::2]
print(strings)

enter the stringthis is test
hsi et

Q.10) Create menu driven code for
1) Accept 2 numbers
2) Add
3) Sub
4) Mul
5) Div

In [ ]:
def add(num1,num2):
  print(num1+num2)
def sub(num1,num2):
  print(num1-num2)
def mul(num1,num2):
  print(num1*num2)
def div(num1,num2):
  print(num1//num2)
num1=int(input("enter the number"))
num2=int(input("enter the number"))
print("enter the operator (+,-,*,//) ")
ch= input()
if ch=="+":
  print(str(add(num1,num2)))
elif ch=="-":
  print(str(sub(num1,num2)))
elif ch=="*":
  print(str(mul(num1,num2)))
elif ch=="//":
  print(str(div(num1,num2)))
else:
  print("not available")

enter the number10
enter the number10
enter the operator (+,-,*,//)
//
1
None